@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body{
  color: #fff;
  background: rgb(0, 0, 0);
}
main{
  background: #000000;
  height: 100hv;
  height: 100dvh;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.portfolio-box {
  width: 100%;
}
